.env
.env.example
.git
.gitignore
.gitlab-ci.yml
.gitea
docker-compose.yml
docker/nginx
docker/php/Dockerfile
k8s
*.md
*.log
mysql_data
.vscode
.idea
*.swp
*.swo
node_modules
vendor
tests
phpunit.xml
